<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/Content/app.css' />
    <!-css section-->
      <link rel="stylesheet" href="Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="Scripts/lib/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
   <nav class="navbar navbar-inverse">
     
     <a class="navbar-brand" href="#">Portfolio</a>
 
     <ul class="nav navbar-nav" >
            <li class="active"><a href="/"><i class="fa fa-home"></i> &nbsp;Home <span class="sr-only">(current)</span></a></li> 
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>               
            <li><a href="/profilepage">Profile Page</a></li>
            <li><a href="/contactus">Contact US</a></li>
            
     </ul>
  
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>