<%- include partials/header.ejs %>
<!-- main content -->
 <div class="bg-2">
    <main class="container ">
       <div class="row">
            <div class="col-lg-12" >
 
   <div class="intro ">
    <h1>About</h1>
    <hr/>
    <p >My self Ritesh. I am studying computer Programing  at Georgian College, passionate about learnig new technogies.</p>
    <p> In my leisure time, I would like to watch movies and TV shows. My favourite sport is Cricket. </p>
   <p>I completed my CO-OP as Web Developer.</p>
   </div>
<%- include partials/footer.ejs %>