<!DOCTYPE html>
<%- include partials/header.ejs %>
  <!-- main content -->
    <main class="container">
    <h1>Home Page</h1>
    <p>This is a Home Page</p>
    </main>
 <%- include partials/footer.ejs %>
     