<!- add header view -->
<%- include partials/header1.ejs %>
<h1>Home Page</h1>
<p>I am creating my portfolio using below technoligies............</p>
<img src="images/express.jpg" class="img-rounded" alt="Cinque Terre" width="22%" height="236"> 
<img src="images/nodejs.png" class="img-rounded" alt="Cinque Terre" width="22%" height="236"> 
<img src="images/html5.png" class="img-rounded" alt="Cinque Terre" width="22%" height="236"> 
<img src="images/angularjs.png" class="img-rounded" alt="Cinque Terre" width="22%" height="236"> 
<!- add footer view -->
<%- include partials/footer.ejs %>