<!- add header view -->
<%- include partials/header.ejs %>
<div class="bg-5">
<main class="container ">
<div class="row">
<div class="col-lg-12" >
<div class="container">
   <div class="fb-profile">
      <img align="left" class="fb-image-lg" src="images/banner.jpg" alt="Profile image example"/>
      <img align="left" class="fb-image-profile thumbnail" src="images/4.jpg" alt="Profile image example"/>
      <div class="fb-profile-text">
         <h1>Ritesh Patel</h1>
         <p>Web Developer</p>
      </div>
   </div>
</div>
<!-- /container -->  
<!- add footer view -->
<%- include partials/footer.ejs %>