<%- include partials/header.ejs %>
  <div class="bg-4">
    <main class="container ">
       <div class="row">
            <div class="col-lg-12" >
     <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInDown">
                            <h2>Services</h2>    <hr/>
                           
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-12 wow fadeInLeft">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="images/monitor.png" class="media-object" alt="Monitor">
                            </a>
                            <div class="media-body">
                                <h3>GeoPlugin</h3>
                                <p>GeoPlugin is a free and easy webmaster resource to provide geolocation technology to your pages.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="images/cog.png" alt="Cog">
                            </a>
                            <div class="media-body">
                                <h3>Dynamic Converter</h3>
                                <p>Dynamic Converter is an inline dual display currency conversion service for web sites.</p>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-md-6 col-sm-12 wow fadeInLeft">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="images/ruler.png" alt="Ruler">
                            </a>
                            <div class="media-body">
                                <h3>Freegeoip.net</h3>
                                <p>It provides a public HTTP API for software developers to search the geolocation of IP addresses. It uses a database of IP addresses that are associated to cities along with other relevant information like time zone, latitude and longitude.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="images/camera.png" alt="Camera">
                            </a>
                            <div class="media-body">
                                <h3>Google Maps APIs Web Services</h3>
                                <p>The Google Maps web services are a collection of HTTP interfaces to Google services providing geographic data for your maps applications.</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end .row -->
            </div> <!-- end .container -->
        </section>
      
 <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<%- include partials/footer.ejs %>